<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Sample_GoogleMap</title>
    <script src="http://maps.google.com/maps/api/js?key=<%= ENV['API_KEY'] %>&language=ja"></script>

    <style>
        html { height: 100% }
        body { height: 100% }
        #map { height: 50%; width: 50%}
    </style>
</head>

<body>
    <div id="map"></div>
    <ul>
    <% @posts.each do |post| %>
        <li>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        </li>
    <% end %>
    </ul>
    
    <%= form_for @post, url: post_lists_path do |f| %>
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
  
    <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>
  
    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
  <script>
    var MyLatLng = { lat: 35.6811673, lng: 139.7670516 };
    var Options = {
      zoom: 15,
      center: MyLatLng,
      mapTypeId: 'roadmap'
    };
    var map = new google.maps.Map(document.getElementById('map'), Options);
  </script>

</body>
</html>
